
<!DOCTYPE html>
<html>
<body style="background-color:powderblue;">

<h1 style="color: #2e6c80;">FIIT DBS LS 2021</h1>
<p>Projekt na predmet Databázové Štruktúry <br />Autor: Pavol Krajkovič <br /> AIS ID: 103004 <br /> Zatial to funguje lepšie ako Askalot</p>

<h2 style="color: #2e6c80;">Všetky dostupné linky:</h2>




<ol style="list-style: none; font-size: 14px; line-height: 32px; font-weight: bold;">
<li style="clear: both;"><img style="float: left;" src="https://html-online.com/img/04-replace.png" alt="replace text" width="45" /><a href="https://fiit-dbs-xkrajkovic-app.azurewebsites.net/v1/health/">Database Uptime</a></li>
<li style="clear: both;"><img style="float: left;" src="https://html-online.com/img/04-replace.png" alt="replace text" width="45" /><a href="https://fiit-dbs-xkrajkovic-app.azurewebsites.net/v1/ov/submissions/">Submissions brasko</a></li>


</body>
</html>




