<!-- #######  YAY, I AM THE SOURCE EDITOR! #########-->
<h1 style="color: #2b2301;">I got 404 problems and Django ain't one</h1>
<body style="background-color:powderblue;">

<body>
<p>How in the name of Elizabeth II. did you end up here in the first place. You literally have redirects to things you need</p>
<p>For real mate, I didn't put much effort into this 404 error page sooo... would you kindly type the correct url, please? Or here you go.. the redirect button to homepage..</p>




<a href="https://www.youtube.com/watch?v=eaEMSKzqGAg">
   <input type="button" value="Homepage" />
</a>


</body>
